body
{
    margin: 0;
    /* background-color: #EA8FEA; */
    background: url('Images/WindowImg.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.navBar
{
    background-color: transparent;
    height:100px;
    text-align: center;
}
#output
{
    padding-top: 40px;
}
.game
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media (max-width:750px) {
    .game
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.computer
{
    flex-basis: 20%;
    margin: 30px;
    padding: 50px;
    background-color: #F6E6C2;
    border-radius: 20px;
    order:1;
}
.user
{
    order: 2;
    margin: 30px;
    flex-basis: 20%;
    padding:50px;
    border-radius: 20px;
    background-color: #F6E6C2;
}
#submitButton
{
    background-color:blue;
    margin-top: 10px;
    color:white;
    padding: 5px;
    border-radius: 5px;
}
#submitButton:active
{
    background-color:black;
    margin-top: 10px;
    color:white;
    padding: 5px;
    border-radius: 5px;
}
#displayComputerPoints, #displayUserPoints
{
    color: red;
    font-style: italic;
}
#computerImage, #userImage
{
    border-radius: 10px;
    margin: auto;
}